@use '../_variables/' as *;



// Main

//// CSS Variables
:root {
	// --scrollY: 0;
	
	--scrollbar: 0;

	--fontsize: 1rem;
	--fontvw: 1vw;

	--spacing: clamp( 16px, 2.22vw, 64px );
	--spacingCompact: 4px;
	--spacingLarge: clamp( 350px, 52.5svh, 700px );

	--nav: clamp( 32px, 3vw, 64px );
	--sidebar: 20%;

	// --transition: 0.15s;


	@each $color, $value in $colors {
		--#{ $color }: #{ $value };
	}
}





* {
   	box-sizing: border-box;


   	&:before,
   	&:after {
   		box-sizing: border-box;
   	}
}





html {
	min-height: 100%;
	height: 100%;

	-webkit-text-size-adjust: none;
}

body {
	min-height: 100%;
	width: 100%;
	max-width: 100%;
	
	position: relative;
	
	overflow-x: hidden;

	font-size: var( --fontsize );
}

main,
nav,
footer,
header,
article,
section,
div {
	display: block;
	position: relative;

	// max-width: 100%;
}





//// Clearfix
.clearfix::after {
	clear: both;
	display: table;
	content: '';
}





//// Overflow
.overflow--hidden {
	overflow: hidden;
}





//// Display
@each $size in $sizes {
	@if $size == default {
		.display--block {
			display: block;
		}

		.display--flex {
			display: flex;
		}

		.display--none {
			display: none;
		}
	} @else {
		@include breakpoint( #{ $size } ) {
			.#{ $size }-display--block {
				display: block;
			}

			.#{ $size }-display--flex {
				display: flex;
			}

			.#{ $size }-display--none {
				display: none;
			}
		}
	}
}





//// Backgrounds, Fills, Borders
@each $color, $value in $colors {
	.bkg--#{$color} {
		background-color: var( --#{ $color } );
	}

	.fill--#{$color} {
		fill: var( --#{ $color } );
	}

	.stroke--#{$color} {
		stroke: var( --#{ $color } );
	}

	.border--#{$color} {
		border-color: var( --#{ $color } );
	}
}

.bkg--media {
	background:
		url( '/images/noise--25.png' ) repeat left top / 200px 200px,
		url( '/images/bkg/bkg--media.svg' ) no-repeat left top / 100% 100%,
		var( --copy );
	background-blend-mode:
		lighten,
		normal,
		normal;
}





//// Opacity
@each $size in $sizes {
    @include breakpoint( #{ $size } ) {
		@for $i from 0 through 10 {
			.#{ $size }--opacity--#{ 10 * $i } {
				opacity: ( 0.1 * $i );
			}
		}

		@for $i from 1 through 3 {
			.#{ $size }--opacity--#{ 25 * $i } {
				opacity: ( 0.25 * $i );
			}
		}
	}
}