@use '../_variables/' as *;



// Text
* {
    text-rendering: optimizeLegibility;

    -webkit-font-feature-settings: "kern", "liga", "dlig";
    -moz-font-feature-settings: "kern", "liga", "dlig";
    -moz-font-feature-settings: "kern=1", "liga=1", "dlig=1";
    font-feature-settings: "kern" 1, "liga" 1, "dlig" 1;
    font-kerning: normal;

    font-variant-ligatures: common-ligatures;

    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
}

.uppercase {
    text-transform: uppercase;
}




h1 {
    font-family: $font-headline;
    font-variation-settings: 'wdth' 2.5;
    font-size: 600px;
    text-transform: uppercase;
    leading-trim: both;
    text-edge: cap alphabetic;
}




//// Alignment
@each $alignment in $alignments {
    .text--#{ $alignment } {
        text-align: #{ $alignment };
    }

    @include breakpoint( mobile ) {
        .mobile-text--#{ $alignment } {
            text-align: #{ $alignment };
        }
    }
}





//// Text colors
@each $color, $value in $colors {
    .text--#{$color} {
        color: color( $color );
    }

    .text--#{$color}::placeholder {
        color: rgba( var( --#{ $color } ), 0.5 );
    }

    .text--#{$color}:focus::placeholder {
        color: transparent;
    }
}