@use '../_variables/' as *;



// Text
* {
    text-rendering: optimizeLegibility;

    -webkit-font-feature-settings: "kern", "liga", "dlig", "ss03";
    -moz-font-feature-settings: "kern", "liga", "dlig", "ss03";
    -moz-font-feature-settings: "kern=1", "liga=1", "dlig=1", "ss03=1";
    font-feature-settings: "kern" 1, "liga" 1, "dlig" 1, "ss03" 1;
    font-kerning: normal;

    font-variant-ligatures: common-ligatures;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.uppercase {
    text-transform: uppercase;
}





//// Headlines
.h1,
.h2,
.h5,
.h6 {
    --horizontal-adjustment: -0.005em;
    --vertical-adjustment: 0.0065em;

    display: block;

    font-family: $font-headline;
    font-stretch: 2.5;
    font-variation-settings: 'wdth' 2.5;

    line-height: 1;

    text-transform: uppercase;

    cursor: default;

    white-space: nowrap;
    margin-left: var( --horizontal-adjustment );
    margin-right: var( --horizontal-adjustment );
    margin-top: calc( var( --vertical-adjustment ) * -1 );

    padding-top: var( --vertical-adjustment );
    // padding-bottom: $vertical-adjustment;

    @include text-crop( $top-crop: -8, $bottom-crop: 3.5, $line-height: 1 );



    .marquee & {
        margin-top: 0;
        
        padding-bottom: var( --vertical-adjustment );
    }
}

.h5 {
    padding-top: calc( var( --vertical-adjustment ) * 2.5 );
}

.h1 {
    @include fontvwclamp( 400, 896, 2000 );
}

@media ( hover: none ) {
    .h1 {
        @include fontvwclamp( 400, 906, 2000 );
    }
}

.h2 {
    @include fontvwclamp( 360, 600, 800 );
}

.h5 {
    @include fontvwclamp( 88, 140, 220 );
}

.h6 {
    @include fontvwclamp( 60, 120, 180 );
}

.h3,
.h4 {
    $horizontal-adjustment: -0.025em;

    font-family: $font-secondary;
    font-weight: $font-secondary--weight;

    line-height: 0.9;
    letter-spacing: -0.05em;

    margin-left: $horizontal-adjustment;

    @include text-crop( $top-crop: 10, $bottom-crop: 3, $line-height: 0.9 );


    
    strong {
        font-weight: $font-secondary--bold;
    }
}

.h3 {
    @include fontvwclamp( 56, 120, 280 );
}

.h4 {
    @include fontvwclamp( 48, 104, 120 );
}





//// Headline textures
.text--headline--large {
    background:
        url( '/images/noise-i--25.png' ) repeat left top / 150px 150px,
        url( '/images/bkg/bkg--headline.svg' ) no-repeat left top / 100% 100%,
        var( --text-large );
    background-blend-mode:
        multiply,
        normal,
        normal;

    -webkit-text-fill-color: transparent;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    filter: blur( 0.25px );



    &--top {
        background:
            url( '/images/noise-i--25.png' ) repeat left top / 150px 150px,
            url( '/images/bkg/bkg--headline.svg' ) no-repeat left top / 100% 200%,
            var( --text-large );

        -webkit-text-fill-color: transparent;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;

        filter: blur( 0.25px );
    }

    &--bottom {
        background:
            url( '/images/noise-i--25.png' ) repeat left top / 150px 150px,
            url( '/images/bkg/bkg--headline.svg' ) no-repeat left bottom / 100% 200%,
            var( --text-large );

        -webkit-text-fill-color: transparent;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;

        filter: blur( 0.25px );
    }
}

.safari .text--headline--large {
    background:
        url( '/images/bkg/bkg--headline--safari.webp' ) repeat-x left top / 100vw 50vw,
        var( --text-large );
    background-blend-mode:
        normal,
        normal;
    
    -webkit-text-fill-color: transparent;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    filter: blur( 0 );



    @include breakpoint( mobile ) {
        background:
            url( '/images/bkg/bkg--headline--safari.webp' ) repeat-x left top / 100vw 100vw,
            var( --text-large );
        
        -webkit-text-fill-color: transparent;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
    


    &--top {
        background:
            url( '/images/bkg/bkg--headline--safari.webp' ) no-repeat left top / 200% 150%,
            var( --text-large );
        
        -webkit-text-fill-color: transparent;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;

        filter: blur( 0 );
    }

    &--bottom {
        background:
            url( '/images/bkg/bkg--headline--safari.webp' ) no-repeat left bottom / 100% 200%,
            var( --text-large );
        
        -webkit-text-fill-color: transparent;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;

        filter: blur( 0 );
    }
}





//// Copy
p {
    font-family: $font-copy;
    font-weight: $font-copy--weight;
}

p strong,
strong p {
    font-weight: $font-copy--bold;
}

p em,
em p {
    font-style: italic;
}

.content p {
    @include fontvwmath( 16, 16, 20, 26, -0.5 );



    &:not(:last-child) {
        // margin-bottom: 1em;
        margin-bottom: calc( var( --spacing ) * 0.5 );
    }



    a {
        color: var( --text-small );

        font-weight: $font-copy--bold;

        text-decoration: none;



        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }
    }
}





//// Sidebar detail
.sidebar-content__detail p {
    @include fontvwmath( 12, 14, 18, 18, -0.5 );

    &:not(:last-child) {
        margin-bottom: 0.25em;
    }
}

.sidebar-content__detail .small {
    display: block;

    font-family: $font-copy;
    font-weight: $font-copy--weight;

    @include fontvwmath( 10, 12, 16, 16, -0.5 );

    // &:not(:last-child) {
    //     margin-bottom: 0.5em;
    // }

    & + .small {
        margin-top: 0.5em;
    }
}

.sidebar-content__detail a {
    font-weight: $font-copy--medium;

    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }
}





//// Detail
.detail {
    display: block;

    font-family: $font-detail;
    font-weight: normal;

    @include fontvwclamp( 16, 18, 24 );

    line-height: 1;

    text-transform: uppercase;

    white-space: nowrap;

    @include text-crop( $bottom-crop: 3, $line-height: 1 );



    &--small {
        @include fontvwclamp( 10, 12, 18 );
    }
}

a.detail,
.detail a {
    text-decoration: none;



    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }
}





//// Captions
.caption {
    font-family: $font-copy;
    font-weight: $font-copy--weight;

    @include fontvwmath( 14, 14, 18, 18, -0.5 );

    em {
        font-style: italic;
    }
}




//// Columns
.columns {
    columns: 2;
    column-gap: var( --spacing );

    margin-bottom: -1.4vw;



    p {
        break-inside: avoid-column;



        &:last-child {
            margin-bottom: -0.25em;
        }
    }



    @include breakpoint( portrait ) {
        columns: 1;

        margin-bottom: 0;
    }
}

.safari .columns {
    p {
        display: inline-block;
        width: 100%;
    }
}





//// Navigation links
.navigation-link {
    cursor: pointer;



    .h5 { 
        background:
            url( '/images/noise-i--25.png' ) repeat left top / 150px 150px,
            url( '/images/bkg/bkg--headline-small.svg' ) no-repeat left top / 100% 100%,
            var( --text-large );
        background-blend-mode:
            multiply,
            normal,
            normal;

        -webkit-text-fill-color: transparent;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;

        filter: blur( 0.25px );
        
        cursor: pointer;
    }



    &:hover,
    &:active,
    &:focus {
        .h5 {
            -webkit-text-stroke: 1px var( --text-small );
            text-stroke: 1px var( --text-small );

            background: transparent;
            color: transparent;

            filter: blur( 0px );
        }
    }
}

.safari .navigation-link {
    .h5 { 
        background:
            url( '/images/bkg/bkg--headline-small--safari.webp' ) no-repeat left top / 100% 100%,
            var( --text-large );
        
        -webkit-text-fill-color: transparent;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;

        filter: blur( 0px );
    }

    &:hover,
    &:active,
    &:focus {
        .h5 {
            -webkit-text-stroke: 1px var( --text-small );
            text-stroke: 1px var( --text-small );

            background: transparent;
            color: transparent;
        }
    }
}





//// Button
.button span {
    background:
        url( '/images/noise--25.png' ) repeat left top / 150px 150px,
        url( '/images/bkg/bkg--fill.svg' ) no-repeat left top / 100% 100%,
        var( --fill );
    background-blend-mode:
        lighten,
        normal,
        normal;

    -webkit-text-fill-color: transparent;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    filter: blur( 0.25px );

    cursor: pointer;
}

.button {
    &:hover,
    &:active,
    &:focus {
        span {
            -webkit-text-stroke: 1px var( --fill );
            text-stroke: 1px var( --fill );
    
            background: transparent;
            color: transparent;

            filter: blur( 0 );
        }
    }    
}

.safari .button {
    span {
        background:
            url( '/images/bkg/bkg--fill--safari.webp' ) no-repeat left top / 100% 100%,
            var( --fill );
        
        -webkit-text-fill-color: transparent;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;

        filter: blur( 0 );
    }

    &:hover,
    &:active,
    &:focus {
        span {
            background: transparent;
            color: transparent;
        }
    }  
}





//// Alignment
@each $alignment in $alignments {
    .text--#{ $alignment } {
        text-align: #{ $alignment };
    }

    @include breakpoint( mobile ) {
        .mobile-text--#{ $alignment } {
            text-align: #{ $alignment };
        }
    }
}





//// Text colors
@each $color, $value in $colors {
    .text--#{$color} {
        color: var( --#{ $color } );
    }
}