// Z-Index & Layers

//// Z-Index Loop
@for $i from 1 through 10 {
	.z--#{ $i } {
		z-index: $i;
	}
}



//// Navigation bar
.nav__control {
	z-index: 50;
}



//// Media module
.media {
	z-index: 75;
	clip: rect(0, auto, auto, 0);
}