// Z-Index & Layers

//// Z-Index Loop
@for $i from 1 through 10 {
	.z--#{ $i } {
		z-index: $i;
	}
}



//// Navigation bar
.nav__control {
	z-index: 6;
}



//// Media module
.media {
	z-index: 66;
	// clip: rect(0, auto, auto, 0);
}


//// Navigation
.navigation {
	z-index: 666;
}
