---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { BLOCKS, MARKS, INLINES } from '@contentful/rich-text-types';
import { headlineOptions, textOptions } from "../lib/contentful";

const { content } = Astro.props;

// console.log( {content} );
---
<header>
    <h1>{ content.headline }</h1>
    <h2 set:html={ documentToHtmlString( content.subheadRich.json, headlineOptions() ) }></h2>
    <span>{ content.detail }</span>
</header>