---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { headlineOptions } from "../lib/contentful";

import Marquee from '../components/Marquee.astro';

const { detail, content } = Astro.props;

const firstName = content.headline.split( ' ' )[ 0 ];
const lastName = content.headline.split( ' ' )[ 1 ];
---
<header class="hero-home default--padding-top--100 default--padding-horizontal--100">
    <div class="hero-home__first">
        <h1 class="h1 text--headline--large text--headline--large--top">{ firstName }</h1>
    </div>

    <span class="hero-home__detail detail text--text-small">{ detail }</span>

    <h3 class="hero-home__content h3 text--text-large" set:html={ documentToHtmlString( content.subheadRich.json, headlineOptions ) } />

    <div class="hero-home__last">
        <h1 class="h1 text--headline--large text--headline--large--bottom">{ lastName }</h1>
    </div>
</header>