---
import NavigationLink from '../components/NavigationLink.astro';

const { content } = Astro.props;
---
<table-of-contents>
    <nav class="sidebar-content sidebar-content--simple sidebar-content--simple--portrait default--padding-horizontal--100 mobile--padding-horizontal--0 mobile--padding-top--200">
        <div class="sidebar-content__sidebar mobile--padding-horizontal--100">
            <div class="sticky default--padding-top--100">
                <span class="detail text--text-small">Selected Work</span>
            </div>
        </div>
    
        <ul class="sidebar-content__content default--padding-top--100 portrait--padding-top--0">
            {
                content.items.map( ( caseStudy, index ) => (
                    <NavigationLink dark="false" scroll="true" slug={ caseStudy.slug } title={ caseStudy.title } year={ caseStudy.year } detail={ caseStudy.detail } count={ index + 1 } />
                ))
            }
        </ul>
    </nav>
</table-of-contents>

<script>
    class TableOfContents extends HTMLElement {
        constructor() {
            super();

            const   links = this.querySelectorAll<HTMLAnchorElement>( '.navigation-link' );

            links.forEach( ( link ) => {
                link.addEventListener( 'click', ( e ) => {
                    console.log( link );

                    const   target = document.querySelector<HTMLElement>( link.getAttribute( 'href' ) ),
                            targetRect = target.getBoundingClientRect(),
                            targetY = targetRect.top + window.scrollY;

                    window.scrollTo({
                        top: targetY,
                        left: 0,
                        behavior: 'instant',
                    });

                    link.blur();
                    
                    e.preventDefault();
                });
            });
        }
    }

    customElements.define( 'table-of-contents', TableOfContents );
</script>