// Marquee

@media  ( hover: none ),
        ( prefers-reduced-motion: reduce ) {

    .marquee-scroll-wrapper {
        overflow-y: hidden;
    }

    .marquee-container {
        overflow-x: auto;
        overflow-y: hidden;

        padding-bottom: var( --scrollbar );

        margin-bottom: calc( var( --scrollbar ) * -1 );
    }
    
}