// Navigation button
.nav__control {
    display: block;

    // width: clamp( 32px, 3vw, 64px );
    height: var( --nav );
    // aspect-ratio: 1 / 1;
    width: auto;

    cursor: pointer;



    & > svg {
        display: block;

        height: 100%;
        width: auto;
    }



    &.fixed {
        position: fixed;
        top: var( --spacing );
        right: var( --spacing );


        .navigation & {
            right: calc( var( --spacing ) + var( --scrollbar ) );
        }
    }

    &.sticky {
        position: sticky;
        top: var( --spacing );
    }



    &.default {
        & > svg {
            stroke: var( --text-small );
        }

        .nav__control__hover,
        .nav__control__close {
            border: 1px solid var( --text-small );

            & > svg {
                fill: var( --text-small );
            }
        }
    }

    &.light {
        & > svg {
            stroke: var( --fill );
        }

        .nav__control__hover,
        .nav__control__close {
            border: 1px solid var( --fill );

            & > svg {
                fill: var( --fill );
            }
        }
    }
}

.nav__control__hover,
.nav__control__close {
    position: absolute;
    top: 50%;
    left: 50%;

    height: 100%;
    aspect-ratio: 1 / 1;

    border-radius: 100%;

    transform: translate( -50%, -50% );

    opacity: 0;



    & > svg {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 40%;
        height: auto;

        transform: translate( -50%, -50% );
    }
}

.nav__control {
    &.open {
        & > svg {
            opacity: 1;
        }

        .nav__control__hover,
        .nav__control__close {
            opacity: 0;
        }
    }

    &.close {
        & > svg,
        .nav__control__hover {
            opacity: 0;
        }

        .nav__control__close {
            opacity: 1;
        }
    }
}

@media ( hover: hover ) {
    .nav__control {
        &.open {
            &:hover,
            &:focus {
                & > svg {
                    opacity: 0;
                }

                .nav__control__hover {
                    opacity: 1;
                }
            }
        }

        &.close {
            &:hover,
            &:focus {
                .nav__control__close {
                    background: var( --fill );

                    & > svg {
                        fill: var( --copy );
                    }
                }
            }
        }
    }
}