@use '../_variables/' as *;



// Repeated structural elements

//// Sticky
.sticky {
    position: sticky;
    top: 0;
}





//// Home hero
.hero-home {
    display: grid; 
    grid-auto-flow: column; 
    grid-template-columns: auto 1fr; 
    grid-template-rows: auto 1fr auto; 
    gap: var( --spacing ) var( --spacing ); 
    grid-template-areas: 
        "first detail"
        "first content"
        "last last";
}

.hero-home__first {
    grid-area: first;
}

.hero-home__detail {
    grid-area: detail;
}

.hero-home__content {
    grid-area: content;

    align-self: end;
}

.hero-home__last {
    grid-area: last;
}





//// Sidebar content areas
.sidebar-content {
    display: grid; 
    grid-auto-flow: column; 
    grid-template-columns: var( --sidebar ) 1fr; 
    grid-template-rows: 1fr auto; 
    gap: var( --spacing ) var( --spacing ); 
    grid-template-areas: 
        "sidebar content"
        "detail content";
    
    

    &--simple {
        grid-template-rows: auto; 
        grid-template-areas: 
            "sidebar content";
    }
}

.sidebar-content__sidebar {
    grid-area: sidebar;
}

.sidebar-content__detail {
    grid-area: detail;
}

.sidebar-content__content {
    grid-area: content;
}



@include breakpoint( portrait ) {
    .sidebar-content--navigation--portrait {
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "sidebar detail"
            "content content";

        
        
        .sidebar-content__detail {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: var( --spacing );



            & > li {
                margin-top: 0;
            }
        }
    }

    .sidebar-content--simple--portrait {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "sidebar"
            "content";
    }
}



//// Single column image
.sidebar-image {
    display: grid; 
    grid-auto-flow: column;
    grid-template-rows: auto;
    gap: var( --spacing );



    &--left {
        grid-template-columns: calc( var( --sidebar ) + ( var( --spacing ) * 0.5 ) ) 1fr;
        grid-template-areas: 
            "caption image";
    }

    &--right {
        grid-template-columns: 1fr calc( var( --sidebar ) + ( var( --spacing ) * 0.5 ) );
        grid-template-areas: 
            "image caption";
    }

    &--full {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "image";
    }
}

.sidebar-image__caption {
    grid-area: caption;

    align-self: start;

    position: sticky;
    top: 0;

    padding: calc( var( --spacing ) - var( --spacingCompact ) ) 0;



    .sidebar-image--left  & {
        padding-left: calc( var( --spacing ) - var( --spacingCompact ) );
    }

    .sidebar-image--right & {
        // top: calc( var( --spacing ) + var( --nav ) );
        padding-right: calc( var( --spacing ) - var( --spacingCompact ) );
        padding-right: calc( ( var( --spacing ) * 2 ) + var( --nav ) );

        // &:before {
        //     float: right;

        //     display: block;
        //     width: var( --nav );
        //     height: var( --nav );

        //     margin-left: var( --spacing );
        //     margin-bottom: var( --spacing );

        //     // background: green;

        //     content: '';
        // }
    }
}

.sidebar-image__image {
    grid-area: image;
}





//// Double column image
.columns-image {
    display: grid; 
    grid-auto-flow: column; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto; 
    gap: var( --spacingCompact ) var( --spacingCompact );
    grid-template-areas: 
        "caption caption"
        "columnLeft columnRight";

    
    
    &--left {
        grid-template-columns: calc( var( --sidebar ) + ( var( --spacing ) * 1.5 ) - var( --spacingCompact ) ) 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "caption columnLeft columnRight";
    }

    &--right {
        grid-template-columns: 1fr 1fr calc( var( --sidebar ) + ( var( --spacing ) * 1.5 ) - var( --spacingCompact ) );
        grid-template-rows: 1fr;
        grid-template-areas: 
            "columnLeft columnRight caption";
    }

    // &--full {
    //     grid-template-rows: auto;
    //     grid-template-areas: 
    //         "columnLeft columnRight";
    // }
}

.columns-image__caption {
    grid-area: caption;

    align-self: start;

    padding: calc( var( --spacing ) - var( --spacingCompact ) );
    


    .columns-image--full &,
    .columns-image--right & {
        padding-right: calc( ( var( --spacing ) * 2 ) + var( --nav ) );
    }

    .columns-image--right &,
    .columns-image--left & {
        position: sticky;
        top: 0;
    }
}

.columns-image__column--left {
    grid-area: columnLeft;
}

.columns-image__column--right {
    grid-area: columnRight;
}