@use '../_variables/' as *;



// Repeated structural elements

//// Sticky
.sticky {
    position: sticky;
    top: 0;



    @include breakpoint( mobile ) {
        position: relative;
        top: auto;
    }
}





//// Home hero
.hero-home {
    display: grid; 
    grid-auto-flow: column; 
    grid-template-columns: auto 1fr; 
    grid-template-rows: auto 1fr auto; 
    gap: var( --spacing ) var( --spacing ); 
    grid-template-areas: 
        "first detail"
        "first content"
        "last last";
    

    
    @include breakpoint( mobile ) {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "detail"
            "first"
            "content";
    }
}

.hero-home__first {
    grid-area: first;



    @include breakpoint( mobile ) {
        padding-top: calc( var( --spacingLarge ) * 0.35 );



        .text--headline--large--top {
            display: none;
        }



        & > div {
            max-width: 100vw;
        }
    }
}

.hero-home__detail {
    grid-area: detail;
}

.hero-home__content {
    grid-area: content;

    align-self: end;
}

.hero-home__last {
    grid-area: last;
}





//// Sidebar content areas
.sidebar-content {
    display: grid; 
    grid-auto-flow: column; 
    grid-template-columns: var( --sidebar ) 1fr; 
    grid-template-rows: 1fr auto; 
    gap: var( --spacing ) var( --spacing ); 
    grid-template-areas: 
        "sidebar content"
        "detail content";
    
    

    &--simple {
        grid-template-rows: auto; 
        grid-template-areas: 
            "sidebar content";
    }
}

.sidebar-content__sidebar {
    grid-area: sidebar;
}

.sidebar-content__detail {
    grid-area: detail;
}

.sidebar-content__content {
    grid-area: content;
}



@include breakpoint( portrait ) {
    .sidebar-content--navigation--portrait {
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "sidebar detail"
            "content content";

        
        
        .sidebar-content__detail {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: var( --spacing );



            & > li {
                margin-top: 0;
            }
        }
    }

    .sidebar-content--simple--portrait {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "sidebar"
            "content";
    }
}

@include breakpoint( mobile ) {
    .sidebar-content--mobile {
        grid-template-columns: auto; 
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "sidebar"
            "content"
            "detail";
        


        .sidebar-content__sidebar .sticky {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            // gap: var( --spacing );
            gap: 0;



            & > span {
                margin-top: 0;

                &:first-child {
                    width: var( --sidebar );
                }
            }

            & > li {
                margin-top: 0;

                &:not(:first-child) {
                    margin-left: calc( var( --spacing ) * 2 );
                }
            }
        }
    }

    .sidebar-content--navigation--mobile {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "sidebar"
            "content"
            "detail";
    }
}



//// Single column image
.sidebar-image {
    display: grid; 
    grid-auto-flow: column;
    grid-template-rows: auto;
    gap: var( --spacing );



    &--left {
        grid-template-columns: calc( var( --sidebar ) + ( var( --spacing ) * 0.5 ) ) 1fr;
        grid-template-areas: 
            "caption image";


        
        @include breakpoint( mobile ) {
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            grid-template-areas:
                "caption"
                "image";
        }
    }

    &--right {
        grid-template-columns: 1fr calc( var( --sidebar ) + ( var( --spacing ) * 0.5 ) );
        grid-template-areas: 
            "image caption";
        
        

        @include breakpoint( mobile ) {
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            grid-template-areas:
                "caption"
                "image";
        }
    }

    &--full {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "image";
    }



    @include breakpoint( mobile ) {
        gap: var( --spacingCompact )
    }
}

.sidebar-image__caption {
    grid-area: caption;

    align-self: start;

    position: sticky;
    top: 0;

    padding: calc( var( --spacing ) - var( --spacingCompact ) ) 0;



    .sidebar-image--left & {
        padding-left: calc( var( --spacing ) - var( --spacingCompact ) );
    }

    .sidebar-image--right & {
        // top: calc( var( --spacing ) + var( --nav ) );
        // padding-right: calc( var( --spacing ) - var( --spacingCompact ) );
        padding-right: calc( ( var( --spacing ) * 2 ) + var( --nav ) );

        // &:before {
        //     float: right;

        //     display: block;
        //     width: var( --nav );
        //     height: var( --nav );

        //     margin-left: var( --spacing );
        //     margin-bottom: var( --spacing );

        //     // background: green;

        //     content: '';
        // }

        @include breakpoint( mobile ) {
            padding-right: calc( var( --spacing ) - var( --spacingCompact ) );
        }
    }



    @include breakpoint( mobile ) {
        position: relative;
        top: auto;

        padding: calc( var( --spacing ) - var( --spacingCompact ) );
    }
}

.sidebar-image__image {
    grid-area: image;
}





//// Double column image
.columns-image {
    display: grid; 
    grid-auto-flow: column; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto; 
    gap: var( --spacingCompact ) var( --spacingCompact );
    grid-template-areas: 
        "caption caption"
        "columnLeft columnRight";

    
    
    &--left {
        grid-template-columns: calc( var( --sidebar ) + ( var( --spacing ) * 1.5 ) - var( --spacingCompact ) ) 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "caption columnLeft columnRight";
        
        

        @include breakpoint( mobile ) {
            grid-template-columns: auto;
            grid-template-rows: auto auto auto;
            grid-template-areas:
                "caption"
                "columnLeft"
                "columnRight";
        }
    }

    &--right {
        grid-template-columns: 1fr 1fr calc( var( --sidebar ) + ( var( --spacing ) * 1.5 ) - var( --spacingCompact ) );
        grid-template-rows: 1fr;
        grid-template-areas: 
            "columnLeft columnRight caption";
        
        
        
        @include breakpoint( mobile ) {
            grid-template-columns: auto;
            grid-template-rows: auto auto auto;
            grid-template-areas:
                "caption"
                "columnLeft"
                "columnRight";
        }
    }

    &--full {
        grid-template-rows: auto;
        grid-template-areas: 
            "columnLeft columnRight";
        
        

        @include breakpoint( mobile ) {
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            grid-template-areas:
                "columnLeft"
                "columnRight";
        }
    }
}

.columns-image__caption {
    grid-area: caption;

    align-self: start;

    padding: calc( var( --spacing ) - var( --spacingCompact ) );
    


    .columns-image--full &,
    .columns-image--right & {
        padding-right: calc( ( var( --spacing ) * 2 ) + var( --nav ) );



        @include breakpoint( mobile ) {
            padding-right: calc( var( --spacing ) - var( --spacingCompact ) );
        }
    }

    .columns-image--right &,
    .columns-image--left & {
        position: sticky;
        top: 0;



        @include breakpoint( mobile ) {
            position: relative;
            top: auto;
        }
    }
}

.columns-image__column--left {
    grid-area: columnLeft;
}

.columns-image__column--right {
    grid-area: columnRight;
}