// COLORS
$colors: (
	'white': #FFFFFF,
	'black': #000000,

	'fill': #EADDFF,

	'text-large': #995AFF,
	'text-large-dark': #844FDC,

	'text-small': #7943D3,
	'text-small-dark': #A46CFF,

	'copy': #2C0F5C
);



//  COLORS FUNCTION
// @function color( $key, $opacity: 1 ) {
// 	// Errors
// 	@if not global-variable-exists( colors ) {
// 		@error '🔴  $colors map does not exist';
// 	}

// 	@if not length( $colors ) {
// 		@error '🔴  $colors map does not contain any items';
// 	}

// 	// Get value and return CSS variable with opacity
// 	$val: rgba( 0, 0, 0, $opacity );

// 	@if length( $key ) == 1 {
// 		$val: rgba( var( --#{ $key } ), $opacity );
// 	}
// 	@else {
// 		@error '🔴  $colors map does not contain selected color';
// 	}

// 	@return $val;
// }

/*
EXAMPLE USAGE:
Provides a handy shorthand method for getting colors so you don't have to map-get($colors, black) and deal with converting RGB and opacity values! Returns CSS variables based on colors map. Opacity is optional but defaults to 1.
	
div {
	background-color: color( white );
}

a:hover {
	color: color( blue, 0.5 );
}
*/