---
import { contentfulClient, contentfulGraphQLClient } from "../lib/contentful";

import Head from '../components/Head.astro';
import CaseStudy from '../layouts/CaseStudy.astro';
import Footer from '../components/Footer.astro';

export async function getStaticPaths() {
    const entries = await contentfulClient.getEntries({
        content_type: 'caseStudy',
    });

    const caseStudies = entries.items.map( ( caseStudy ) => ({
        params: {
            slug: caseStudy.fields.slug
        },
        props: {
            id: caseStudy.sys.id
        },
    }));

    return caseStudies;
}

const { id } = Astro.props;

const home = await contentfulGraphQLClient.getHome();
const caseStudy = await contentfulGraphQLClient.getCaseStudy( id );

const metadataTitle = caseStudy.title + ' | ' + home.metadataTitle;
const metadataUrl = 'https://kyleconrad.com/' + caseStudy.slug + '/';

console.log( caseStudy );
---
<html lang="en">
    <Head
        title={ metadataTitle }
        description={ caseStudy.metadataDescription }
        url={ metadataUrl }
    />

    <body class="bkg--fill">
        <main>
            <CaseStudy content={ caseStudy } />

            <Footer content={ home.about } />
        </main>
    </body>
</html>