---
import { contentfulClient } from "../lib/contentful";

import Head from '../components/Head.astro';
import CaseStudy from '../layouts/CaseStudy.astro';
import Footer from '../components/Footer.astro';

const home = await contentfulClient.getEntry( '3g2iyD1SfySxM8OnHB2d37' );

export async function getStaticPaths() {
    const entries = await contentfulClient.getEntries({
        content_type: "caseStudy",
    });

    const caseStudies = entries.items.map( ( caseStudy ) => ({
        params: {
            slug: caseStudy.fields.slug
        },
        props: {
            title: caseStudy.fields.title,
            metadataDescription: caseStudy.fields.metadataDescription,
            content: caseStudy
        },
    }));

    return caseStudies;
}

const { title, metadataDescription, content } = Astro.props;

const metadataTitle = title + ' | ' + home.fields.metadataTitle;
---
<html lang="en">
    <Head title={ metadataTitle } description={ metadataDescription } />

    <body class="bkg--fill">
        <main>
            <CaseStudy content={ content } />

            <Footer content={ home.fields.about } />
        </main>
    </body>
</html>