---
import { contentfulClient, contentfulGraphQLClient } from "../lib/contentful";

import Head from '../components/Head.astro';
import Navigation from '../modules/Navigation.astro';
import NavigationBar from '../components/NavigationBar.astro';
import CaseStudy from '../layouts/CaseStudy.astro';
import Footer from '../modules/Footer.astro';

export async function getStaticPaths() {
    const entries = await contentfulClient.getEntries({
        content_type: 'caseStudy',
    });

    const caseStudies = entries.items.map( ( caseStudy ) => ({
        params: {
            slug: caseStudy.fields.slug
        },
        props: {
            id: caseStudy.sys.id
        },
    }));

    return caseStudies;
}

const { id } = Astro.props;

const home = await contentfulGraphQLClient.getHome();
const caseStudy = await contentfulGraphQLClient.getCaseStudy( id );

const metadataTitle = caseStudy.title + ' | ' + home.metadataTitle;
const metadataUrl = 'https://kyleconrad.com/' + caseStudy.slug + '/';

// console.log( home );
---
<html lang="en">
    <Head
        title={ metadataTitle }
        description={ caseStudy.metadataDescription }
        image={ caseStudy.metadataImage.url }
        url={ metadataUrl }
    />

    <body class="bkg--fill">
        <Navigation />
        
        <main>
            <NavigationBar color="default" text="true" headline={ home.hero.headline } subhead={ home.hero.detail } />

            <CaseStudy tag="h1" content={ caseStudy } />

            <Footer marquee={ home.hero.detail } content={ home.about } />
        </main>
    </body>
</html>