---
import { contentfulClient } from "../lib/contentful";

import Head from '../components/Head.astro';
import Home from '../layouts/Home.astro';

const home = await contentfulClient.getEntry( '3g2iyD1SfySxM8OnHB2d37' );

// console.log( home );
---
<html lang="en">
    <Head title={ home.fields.metadataTitle } description={ home.fields.metadataDescription } />
    
    <body>
		<Home content={ home } />
    </body>
</html>