---
import { contentfulGraphQLClient } from "../lib/contentful";

import Head from '../components/Head.astro';
import Navigation from '../modules/Navigation.astro';
import Home from '../layouts/Home.astro';

const home = await contentfulGraphQLClient.getHome();
---
<html lang="en">
    <Head
		title={ home.metadataTitle }
		description={ home.metadataDescription }
		url="https://kyleconrad.com"
	/>
    
    <body class="bkg--fill">
		<Navigation />
		
		<Home content={ home } />
    </body>
</html>