---
const { url } = Astro.props;
---
<a href={ url } target="_blank" rel="noopener noreferrer" class="button default--flex--row default--flex--center default--flex--align-center default--padding--100">
    <span class="h5">Visit Site</span>
</a>