---
import '../styles/style.scss';

const { title, description, url } = Astro.props;
---
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta http-equiv="content-language" content="en-us">
    <meta http-equiv="cleartype" content="on" />
    <meta name="robots" content="NOODP" />

    <title>{ title }</title>
    <meta name="description" content={ description }>
    <meta name="theme-color" content="#995AFF" />
    <link rel="canonical" href={ url } />
    <link rel="index" href="https://kyleconrad.com/">
    <link rel="author" href="/humans.txt" />
</head>

<script>
    document.documentElement.style.setProperty( '--scrollbar', ( window.innerWidth - document.documentElement.clientWidth ) + 'px');

    widowControl( window.innerWidth );

    window.addEventListener( 'resize', function() {
        document.documentElement.style.setProperty( '--scrollbar', ( window.innerWidth - document.documentElement.clientWidth ) + 'px');

        widowControl( window.innerWidth );
    });



    function widowControl( width ) {
        let 	widowElements = document.querySelectorAll( 'p' );

        widowElements.forEach( function( element ) {
            element.innerHTML = element.innerHTML.replace( /&nbsp;/g, ' ' );
        });

        if ( width > 700 ) {
            widowElements.forEach( function( element ) {
                element.innerHTML = element.innerHTML.replace( /\s((?=(([^\s<>]|<[^>]*>)+))\2)\s*$/, '&nbsp;$1' );
            });
        }
    }
</script>