---
const { title, description } = Astro.props;
---
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

    <title>{ title }</title>
    <meta name="description" content={ description }>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>