---
const { tag, style, content } = Astro.props;

const Element = tag;
---
<marquee-container class="marquee-scroll-wrapper">
    <div class="marquee-container default--flex--row">
        <div class="marquee default--flex--shrink--0 default--padding-horizontal--100">
            <Element class:list={[ "text--headline--large", style ]} set:html={ content } />
        </div>
    </div>
</marquee-container>

<script>
    class Marquee extends HTMLElement {
        constructor() {
            super();

            const   container = this.querySelector<HTMLElement>( '.marquee-container' ),
                    marquee = this.querySelector<HTMLElement>( '.marquee' );

            let     bodyWidth = document.documentElement.clientWidth;

            let     marqueeRect = marquee.getBoundingClientRect(),
                    marqueeWidth = marqueeRect.width,
                    marqueeX = 0;

            let     difference = marqueeWidth - bodyWidth,
                    differencePercent = ( difference / marqueeWidth ) * 100;

            let     startMotion = false;
            
            let     mousePosX = 0;

            
            
            //// Get mouse position & allow animation if in view
            function mousePos( e ) {
                mousePosX = e.pageX;
                
                if ( isElementInView( container ) && isElementVisible( container ) && marqueeWidth > bodyWidth ) {
                    startMotion = true;
                }
                else {
                    startMotion = false;
                }
            }

            window.addEventListener( 'mousemove', mousePos, false );
            window.addEventListener( 'mouseover', mousePos, false );
            window.addEventListener( 'mouseenter', mousePos, false );
            window.addEventListener( 'mouseleave', mousePos, false );



            //// Move animation
            const marqueeTranslate = () => {
                requestAnimationFrame( marqueeTranslate );



                if ( startMotion ) {
                    let     velocity = ( ( ( mousePosX / ( bodyWidth / 2 ) ) * 100 ) - 100 ) / 20;



                    if ( marqueeX >= ( difference * -1 ) && marqueeX <= 0 ) {
                        marquee.style.translate = ( ( marqueeX / marqueeWidth ) * 100 ) + '% 0';

                        marqueeX += velocity;
                    }

                    if ( marqueeX < ( difference * -1 ) ) marqueeX = ( difference * -1 );
                    if ( marqueeX > 0 ) marqueeX = 0;



                //     if ( marqueeX >= -100 && marqueeX <= 0 ) {
                //         // marquee.style.translate = ( ( marqueeX / 100 ) * difference ) + 'px 0';
                //         marquee.style.translate = ( ( marqueeX / 100 ) * differencePercent ) + '% 0';

                //         marqueeX += velocity;
                //     }

                //     if ( marqueeX < -100 ) marqueeX = -100;
                //     if ( marqueeX > 0 ) marqueeX = 0;
                }
            }

            requestAnimationFrame( marqueeTranslate );



            //// Change values if window resizes
            window.addEventListener( 'resize', function() {
                bodyWidth = document.documentElement.clientWidth;

                marqueeRect = marquee.getBoundingClientRect(),
                marqueeWidth = marqueeRect.width;

                difference = marqueeWidth - bodyWidth;
            });



            //// Determine if element is in view
            function isElementInView( element ) {
                let     rect = element.getBoundingClientRect(),
                        multiplier = 0.15;

                return (
                    rect.top >= ( window.innerHeight * multiplier * -1 || document.documentElement.clientHeight * multiplier * -1 ) &&
                    rect.left >= 0 &&
                    rect.bottom <= ( window.innerHeight * ( 1 + multiplier ) || document.documentElement.clientHeight * ( 1 + multiplier ) ) &&
                    rect.right <= ( window.innerWidth || document.documentElement.clientWidth )
                );
            }



            //// Check if element is visible
            function isElementVisible( element ) {
                return element.checkVisibility({
                    checkOpacity: true,
                    checkVisibilityCSS: true
                });
            }



            //// Get translate positions
            // function getTranslateXY( element ) {
            //     const   style = window.getComputedStyle( element ),
            //             matrix = new DOMMatrixReadOnly( style.transform );

            //     return {
            //         translateX: matrix.m41,
            //         translateY: matrix.m42
            //     }
            // }
        }
    }

    customElements.define( 'marquee-container', Marquee );
</script>