---
const { dark, scroll, slug, title, year, detail, count } = Astro.props;

const marginTop = ( count > 1 ) ? 'default--margin-top--25' : '';

const textColor = ( dark ) ? 'text--text-small-dark' : 'text--text-small';
const link = ( scroll ) ? '#' + slug : '/' + slug + '/';
---
<li class={ marginTop }>
    <a href={ link } class="navigation-link default--flex--row default--flex--gap--25">
        <span class="h5">{ title }</span>

        <div class:list={[ "default--flex--column default--flex--end default--flex--gap--compact", textColor ]}>
            <span class="detail detail--small">{ year }</span>
            <span class="detail detail--small">{ detail }</span>
        </div>
    </a>
</li>