---
import HeroCaseStudy from '../modules/HeroCaseStudy.astro';
import Description from '../modules/Description.astro';
import NavigationButton from '../components/NavigationButton.astro';
import Media from '../modules/Media.astro';

const { content } = Astro.props;

// console.log( content );
---
<article id={ content.slug }>
    <HeroCaseStudy content={ content.hero.headline } />

    <Description subhead={ content.hero.subheadRich } year={ content.year } detail={ content.detail } content={ content.description } />

    <section class="media default--flex--column default--flex--gap--compact default--padding--compact bkg--media">
        <div class="media__nav-track z--5">
            <NavigationButton color="light" position="sticky" />
        </div>

        {
            content.mediaCollection.items.map( ( media ) => (
                <Media content={ media } />
            ))
        }
    </section>
</article>