---
import NavigationBar from '../components/NavigationBar.astro';
import HeroHome from '../modules/HeroHome.astro';
import TableOfContents from '../modules/TableOfContents.astro';
import CaseStudy from '../layouts/CaseStudy.astro';
import Footer from '../modules/Footer.astro';

const { content } = Astro.props;
---
<main>
    <NavigationBar color="default" text="false" />

    <HeroHome detail={ content.detail } content={ content.hero } />

    <TableOfContents content={ content.caseStudiesCollection } />

    {
        content.caseStudiesCollection.items.map( ( caseStudy ) => (
            <CaseStudy tag="h2" content={ caseStudy } />
        ))
    }

    <Footer marquee={ content.detail } content={ content.about } />
</main>