---
import HeroHome from '../modules/HeroHome.astro';
import CaseStudy from '../layouts/CaseStudy.astro';
import Footer from '../components/Footer.astro';

const { content } = Astro.props;

// console.log( {content} );
---
<main>
    <HeroHome content={ content.hero } />

    {
        content.caseStudiesCollection.items.map( ( caseStudy ) => (
            <CaseStudy content={ caseStudy } />
        ))
    }

    <Footer content={ content.about } />
</main>